@tailwind base;
@tailwind components;
@tailwind utilities;

.photo{
    -webkit-clip-path: polygon(-3.5% 0, 100% 0, 100% 100%, 26% 100%);
    clip-path: polygon(-3.5% 0, 100% 0, 100% 100%, 26% 100%);
}

.currency{
    align-items: center;
    border-bottom: 1px solid gray;
    padding: 0.5rem;
    margin: 0.25rem 0
}